@charset "UTF-8";



#barra{
    
    background-color: #0092ff;
    max-width: 900px;
    min-width: 100%;
    height: 50px;
    position: fixed;
    top:0;
    left: 0;
    margin:auto;
    padding: 15px;
    display:block;
}

#controll{
    max-width: 900px;
    min-width: 400px;
    border: 1px solid black;
    margin: auto;
    border-radius: 0px 20px;
    text-align: center;
    /*position: fixed;*/
    padding: 10px;
}

#button{

    margin-right: -78%;
    text-align: center;
    background-color: rgb(226, 230, 230);
    border-radius: 2px;
    padding: 2px;
    padding: 3px;
    border: 1px solid black;
    color: black;
    font-size: 10px;
}
#tipodesconto{
    width: 80px;
    text-align: center;
}
    
#test{
    background-color: black;
    width: 1000px;
}

#controll > button:hover{
    background-color: #0092ff;
    color: white;
    border-radius: 5px;
}
.abc:hover{
    background-color: #0092ff;
    color: white;
    border-radius: 5px;
}
    

body{
    background-color:rgb(255, 255, 255);
    padding-top: 80px;
    text-align: center;    
}
  

#res{
    
    max-width: 900px;
    min-width: 400px;
    background-color: white;
    margin:auto;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    
}

#total, #resDesconto{
    background-color: white;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    max-width: 500px;
    min-width: 400px;
}

#pix{
    
    padding: 10px;
    width: 13em;
    word-break: break-all;
    text-align: center;
    margin: auto;
}

#qr{
    margin-left: 1px;
    background-color: black;
    text-align: center;
}


    
    
#dados{
    border: 2px dashed white;
    text-align: center;
    padding: 8px;
    max-width: 250px;
    min-width: 200px;
    margin: auto;
}

#resumo{
    border:1px solid black ;
    margin-left:25%;
    margin-right: 25%;
    padding: 15px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.413);
}

